<!-- Simple semantic HTML structure -->
<head>
    <script src="./../static/js/script.js"></script>
    <link rel="stylesheet" href="./../static/css/style2.css">
</head>
<body>
    <nav></nav>
    
    <main class="container">
      <article draggable="true" class="draggable">1</article>
      <article draggable="true" class="draggable">2</article>
      <article draggable="true" class="draggable large">3</article>
      <article draggable="true" class="draggable">4</article>
      <article draggable="true" class="draggable">5</article>
      <article draggable="true" class="draggable wide">6</article>
    </main>
    
  </body>
    